.vs
__pycache__/
obj/

*.pyc
*.pyo
*.pyd
.Python
env/
venv/
dist/
build/
*.vhd
*.v
!GoldExample/rtc/output/*.vhd
!GoldExample/rtc/output/*.v
*.log
src/_sc_info.json
src/_sc_module_info.json
src/_sc_temp.sc_intermediate

*.pickle
*.json
*.sc_intermediate

test.*
test?.sc

worktrees
output
fusesim

*.exe
*.pdb
*.dll

*.egg-info

isim
fuse.*
fuseRelaunch.*

isim.*
simulate_isim.*


ScodeCS/Bin/Release/Publish

*.zip

uidist

# Release directory for public repo
